<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/head :: head">

</head>

<body>
<footer th:fragment="footer" class="mt-5">
	<div class="footer_principal">
			<div class="row align-items-center py-md-auto">
				<div class="col-4 text-center" id="footer_icono">
					<div>
						<img src="../../img/custom-logo.png" alt="Icono de sistema de gamificacion" id="imagen_header" width="30%"class="img-fluid" style="">
					</div>
					<br/>
					<p>Universidad Técnica Particular de Loja </p>
				</div>
				<div class="col-4" id="footer_mid">
				
					
					<p>Gestión productiva 3.2 </p>
				</div>
				<div class="col-4" id="footer_info">
				
				<div class="my-2 ">
					<p>Integrantes: </p>
						<div class="redes-container">
							<ul>
								<li> <a href="#" class="facebook"><i class="fab fa-facebook"><span style="color:white"> Fernanda Bermeo</span></i>  </a></li>
								<li> <a href="#" class="facebook"><i class="fab fa-facebook"><span style="color:white"> Luis Diaz</span></i>  </a></li>
							</ul>
						
						</div>
					
				</div>
					
				</div>
				
			</div>
		</div>

	</footer>
	
	</body>
</html>